*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    background: #2b2b2b;
}

div {
    max-width: 74rem;
    margin: 1.2rem auto;
}

code {
    font-size: 1.2rem;
    margin: 1rem;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.75);
}